@import url('colors.css');
.content-sidebar {
    background-color: var(--var-bg);
    flex-basis: 30%;
    padding: 32px;
    display: flex;
    flex-direction: column;
}

.content-sidebar-photo {
    width: 192px;
    height: 192px;
    margin-bottom: 64px;
    border-radius: 50%;
    background-color: var(--var-bg);
    background-image: url("../img/cv-photo.png");
}

.content-sidebar-skills {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.section-skills {
    display: flex;
    flex-direction: column;
}

.section-skills-item {
    display: flex;
    align-items: center;
    align-items: flex-start;
    margin-bottom: 24px;
}

.section-skills-item-icon {
    font-size: 32px;
    color: var(--var-accent);
    margin-right: 24px;
}

.section-skills-item-content {
    display: flex;
    flex-direction: column;
}

.section-skills-item-content-text {
    font-size: 14px;
}

.content-sidebar-contacts {
    display: flex;
    flex-direction: column;
}

.content-sidebar-contacts-item {
    display: flex;
    margin: 4px 0px;
}

.contacts-icon {
    margin-right: 16px;
}

@media (max-width: 800px) {
    .content-sidebar {
        padding-top: 0px;
    }
    .content-sidebar-photo {
        display: none;
    }
    .section-skills {
        flex-direction: row;
        align-items: flex-start;
        flex-wrap: wrap;
    }
    .section-skills-item {
        padding-right: 32px;
        align-items: flex-start;
    }
    .section-skills-item-icon {
        margin-right: 16px;
    }
}