@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0");
@import url("colors.css");
@import url("header.css");
@import url("content.css");
@import url("sidebar.css");
@import url("bio.css");
@import url("footer.css");
* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.4;
}

body {
    background-color: var(--var-body-bg);
}

a {
    text-decoration: none;
    color: var(--var-link);
}

a:visited {
    color: var(--var-link);
}

.container-main {
    display: flex;
    flex-direction: column;
    max-width: 1024px;
    margin: auto;
}

@media (max-width: 1280px) {
    body {
        background-color: var(--var-bg);
        position: relative;
    }
    .footer {
        position: absolute;
        left: 0%;
        top: 100%;
    }
}

@media (max-width: 800px) {
    .section-header {
        margin-bottom: 12px;
    }
    .content {
        flex-direction: column;
    }
    .content-bio {
        order: -1;
        padding-left: 0px;
        padding-bottom: 0px;
    }
    .content-bio-item {
        margin-bottom: 24px;
    }
    .content-sidebar {
        padding-top: 0px;
    }
    .content-sidebar-photo {
        display: none;
    }
    .section-skills {
        flex-direction: row;
        align-items: flex-start;
        flex-wrap: wrap;
    }
    .section-skills-item {
        padding-right: 32px;
        align-items: flex-start;
    }
    .section-skills-item-icon {
        margin-right: 16px;
    }
}

@media (max-width: 600px) {
    .timeline-item {
        flex-direction: column;
    }
    .timeline-item-separator {
        display: none;
    }
    .timeline-item-content .section-subheader {
        margin-bottom: 0px;
    }
}