:root {
    --var-body-bg: #fff;
    --var-body-fc: #666;
    --var-accent: #eca470;
    --var-link: #0077ff;
}

[dark] {
    --var-body-bg: #524e4e;
    --var-body-fc: #f2f2f2;
    --var-accent: #eca470;
    --var-link: #4fa1ff;
}