@import url('colors.css');
.content {
    background-color: var(--var-body-bg);
    color: var(--var-body-fc);
    display: flex;
    padding: 32px;
}

.section-header {
    font-size: 24px;
    font-weight: 700;
    color: var(--var-accent);
    margin-bottom: 24px;
}

.section-subheader {
    color: var(--var-body-fc);
    font-weight: 700;
    margin-bottom: 8px;
}

.content-body {
    background-color: var(--var-body-bg);
    width: 100%;
    padding: 32px;
}