@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0");
@import url("colors.css");
@import url("header.css");
@import url("content.css");
@import url("sidebar.css");
@import url("footer.css");
* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.4;
}

a {
    text-decoration: none;
    color: var(--var-link);
}

a:visited {
    color: var(--var-link);
}

.container-main {
    display: flex;
    flex-direction: column;
    max-width: 1024px;
    margin: auto;
}